@model SV_22T1020607.Models.Catalog.Category
@{
}
@section PageToolBar {
    <button type="submit" form="formEdit" class="btn btn-primary">
        <i class="bi bi-save"></i>
        Lưu dữ liệu
    </button>

    <a href="~/Category" class="btn btn-secondary ms-1">
        <i class="bi bi-arrow-left"></i>
        Quay lại
    </a>
}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <i class="bi bi-tags me-2"></i>
                    Thông tin loại hàng
                </h5>
            </div>

            <div class="card-body">
                <form id="formEdit" action="~/Category/Save" method="post">
                    <input type="hidden" name="@nameof(Model.CategoryID)" value="@Model.CategoryID" />

                    <div class="mb-3">
                        <label class="form-label">Tên loại hàng</label>
                        <input type="text"
                               name="@nameof(Model.CategoryName)"
                               value="@Model.CategoryName"
                               class="form-control"
                               placeholder="Nhập tên loại hàng" autofocus />
                        @Html.ValidationMessage(nameof(Model.CategoryName), new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mô tả</label>
                        <textarea class="form-control"
                                  name="@nameof(Model.Description)"
                                  rows="4"
                                  placeholder="Nhập mô tả loại hàng">@Model.Description</textarea>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
